body {
  font-family: sans-serif;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
}

input {
  padding: 10px;
  width: 60%;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
}
